

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

 
  
  <div class="container">
    <div class="content">
      
      <ion-icon name="ellipsis-horizontal-circle-outline" class="pontos"></ion-icon>
      <ion-icon name="camera-outline" class="camera"></ion-icon>
      <ion-icon name="add-circle" class="circulo"></ion-icon>
    </div>
  </div>
  <div class="conversas">
    <span>Conversas</span>
    <br>
    <br>
    
    <input type="text" id="pesquisar" placeholder="Pesquisar"> <ion-icon name="search-outline" id="lupa"></ion-icon>
    <ion-icon name="filter-outline" id="filtro" ></ion-icon>
    
    <br>
     
      <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../assets/icon/mc ig.jpg"  id="mc"/>
                
              </ion-thumbnail>
              <ion-label color="light">Mc IG</ion-label>
              <ion-text>E a revoada?</ion-text>
              <ion-text id="hora1">01:45</ion-text>
            </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="fotoperfil" src="../../assets/icon/justin.avif" id="justin" />
            </ion-thumbnail>
            <ion-label color="light">Letycia</ion-label>
            <ion-text>E o show do Luan?</ion-text>
            <ion-text id="hora">21:45</ion-text>

          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="fotoperfil" src="../../assets/icon/recayd.webp" id="recayd" />
            </ion-thumbnail>
            <ion-label color="light">Isabela</ion-label>
            <ion-text>nossa sério</ion-text>
            <ion-text id="hora">21:40</ion-text>

          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="fotoperfil" src="../../assets/icon/camila.jpg" id="gab"/>
            </ion-thumbnail>
            <ion-label color="light">Ex</ion-label>
            <ion-text>Vamo voltar juro</ion-text>
            <ion-text id="hora">20:45</ion-text>


          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="fotoperfil" src="../../assets/icon/ney perfil.jpg"  id="ney"/>
            </ion-thumbnail>
            <ion-label color="light">Ney</ion-label>
            <ion-text>Cola na resenha amanhã</ion-text>
            <ion-text id="hora">18:45</ion-text>

          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="fotoperfil" src="../../assets/icon/traplaudo.jpg" id="traplaudo" />
            </ion-thumbnail>
            <ion-label color="light">Traplaudo</ion-label>
            <ion-text>Vamo que horas?</ion-text>
            <ion-text id="hora">15:25</ion-text>


          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="fotoperfil" src="../../assets/icon/ryan.webp" id="ryan"/>
            </ion-thumbnail>
            <ion-label color="light">Ryan SP</ion-label>
            <ion-text>Vamo no domingão do Hulk?</ion-text>
            <ion-text id="hora">11:45</ion-text>


          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="fotoperfil" src="../../assets/icon/mc ph.avif" id="ph"/>
            </ion-thumbnail>
            <ion-label color="light">MC PH</ion-label>
            <ion-text>Com o Veigh</ion-text>
            <ion-text id="hora">10:05</ion-text>

          </ion-item>   
          
          


        </ion-list>
      </ion-card-content>
  </div>

  
</ion-content>
